@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #333;
}
